.uber{
        background-color: black;
        border : none;
        color: white;
        height: 50px;
        width: 110px;
        border-style: solid;
        cursor: pointer;  
    }


    .amazon{
        background-color: rgb(255, 216, 20);
        color: black;
        height: 40px;
        width: 185px;
        border-style: solid;
        border: none;
        border-radius: 20px;
        font-size: 13.2px;
        
    }

    .git{
        background-color: rgb(46,164,79);
        color: white;
        height: 50px;
        width: 105;
        border: none;
        border-style: solid;
        border-radius: 10px;
        font-size: 13px;
        font-weight: bold;
    }