
    .subscribe{
        background-color: rgb(204, 0, 0);;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 8px;
        padding: 10px 16px;
    }

    .join{
        background-color: white;
        border-color: rgb(59, 152, 245);
        border-style: solid;
        color: rgb(59, 152, 245);
        height: 38px;
        width: 68px;
        border-radius: 4px;
        cursor: pointer;
        
    }

    .tweet{
        background-color: rgb(29, 155, 240);;
        border-color: rgb(29, 155, 240);
        border-style: solid;
        color:white;
        border-radius: 20px;
        padding: 7px 16px;
        cursor: pointer;
        margin-left: 8px;
        font-weight: bold;
        font-size: 13px;
        line-height: 22.5px;
    
    }

