
            .fn,.ln{
                display: inline-block;
                margin-top: 6px;
                margin-bottom: 10px;
                width:150px;
                color:gray;
                background-color: white;
                border-color: gray;
                border:solid;
                padding: 8px 12px;
                border-width: 1px;
                border-radius: 5px;

            }

            .mail{
                display:block;
                width:305px;
                padding: 8px 12px;
                border-radius: 8px;
                color:gray;
                background-color: white;
                border-color: gray;
                border:solid;
                padding: 8px 12px;
                border-width: 1px;
                border-radius: 5px;
                margin-top: 6px;
                margin-bottom: 0px;
            }

            .sign-up{
                width:305px;
                padding: 10px 16px;
                border-radius: 5px;
                background-color:rgb(2, 103, 255);
                color: white;
                border:none;
                margin-top: 0px;
                margin-bottom: 10px;
                
            }
       