

                .profiles{
                    box-shadow: 0.2px 2px 2px 2px grey;
                    width:350px;
                    height: 450px;
                    margin-left: 50px;
                    margin-top:30px;
                    display: inline-block;
                    vertical-align: top;
                }

                .display-pic{
                    width:250px;
                    height: 313.672px;
                    margin-left: 50px;
                    margin-top:30px;
                    display: inline-block;
                }
                .display-pic-m{
                    width:250px;
                    height: 315px;
                    margin-left: 50px;
                    margin-top:30px;
                    display: inline-block;
    
                }

                .prof-details{
                    margin-left: 50px;
                    margin-top:30px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    display: inline-block;
                    
                }

                .name{
                    font-family: Arial;
                    font-size: 14px;
                    font-weight: bold;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    width:250px;
                    display:block;
                }
                
                .mutuals{
                    font-family: Arial;
                    font-size: 12px;
                    color: grey;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    display: block;

                }
                .add-frnd{
                    margin-top: 5px;
                    font-family: Arial;
                    background-color: rgb(0, 106, 255);
                    padding: 8px 8px;
                    color: white;
                    border: none;
                    border-radius: 3px;
                    display: inline-block;
                }

               
           