.subscribe{
        background-color: rgb(229, 0, 0);
        color: white;
        border: none;
        height: 38px;
        width: 110px;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 8px;
        transition: opacity 0.15s;
    }

    .subscribe:hover{
        background-color: blue;
        opacity: 0.4;
    }
    .subscribe:active{
        background-color: brown;
        opacity: 1;
    }

    .join{
        background-color: white;
        border-color: rgb(59, 152, 245);
        border-style: solid;
        color: rgb(59, 152, 245);
        height: 38px;
        width: 68px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 1s, color 3s;
        
    }

    .join:hover{
       background-color: rgb(59, 152, 245);
       color: white;
    }
    .tweet{
        background-color: rgb(59, 152, 245);
        border-color: rgb(59, 152, 245);
        border-style: solid;
        color:white;
        border-radius: 20px;
        height: 38px;
        width: 68px;
        cursor: pointer;
        margin-left: 8px;
        font-weight: bold;
        font-size: 13px;
        transition: box-shadow 0.15s;
    
    }
    .tweet:hover{
         box-shadow: 5px 5px 6px rgba(0,0,0,0.25);

    }