.gs{
        background-color: rgb(121,82,179);
        color: white;
        font-weight: bold;
        font-size:  12px;
        border-style: solid;
        border: none;
        height: 40px;
        width: 105px;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
        transition: 0.2s;
    }
    .gs:hover{
        background-color: rgb(91, 1, 170);
    }
    .dl{
        background-color: white;
        color: rgb(108,117,125);
        font-weight: bold;
        font-size:  12px;
        border-style: solid;
        border-color: rgb(108,117,125);
        height: 40px;
        width: 105px;
        border-radius: 4px;
        cursor: pointer;
        border-width: 1.5px;
        transition: 0.2s;
        
    }
    .dl:hover{
        background-color: rgb(108,117,125);
        color: white
    }
    .apply{
        background-color: rgb(10,102,194);
        color: white;
        height: 40px;
        width: 250px;
        border: none;
        border-radius: 20px;
        font-weight: bold;
        font-size: 13px;
        transition: 0.2s;
    }
    .apply:hover{
        background-color: rgb(5, 59, 167);
    }

    .save{
        background-color: white;
        color: rgb(10,102,194);
        font-size: 13px;
        font-weight: bold;
        height: 40px;
        width: 100px;
        border-style: solid;
        border-color: rgb(10,102,194);
        border-radius: 20px;
        border-width: 1.5px;
        margin-left: 10px;
        transition: 0.2s;
    }
    .save:hover{
        background-color: rgb(183, 217, 255);
        border-width: 2px;
    }