            .profile{
                width: 250px;
                height:400px;
                box-shadow:1px 2px 2px 1px rgb(182, 179, 179);
                display: inline-block;
                margin-left: 10px;
            }

            .dp{
                width: 250px;
                height:250px;
                margin-bottom: 0px;
            }
            .name{
                font-family: Arial;
                font-size: 15px;
                font-weight: bold;
                margin-top: 5px;
                margin-left: 8px;
                margin-bottom: 6px;
            }
            
            .mutual-img{
                width:50px;
                height: 50px;
                border-radius: 50px;
                display: inline-block;
                margin-left: 3px;
                margin-bottom: 6px;
            }
            .mutuals-num{
                display: inline-block;
                vertical-align: top;
                font-size: 14px;
                color: grey;
                margin-left: 8px;
                

            }
            .add-frnd-button{
                background-color: rgb(0, 115, 255);
                color: white;
                font-family: Arial;
                border:none;
                margin-left: 6px;
                width:150px;
                padding:13px 8px;
                border-radius: 5px;

            }