 .web{
        font-weight: bold;
        font-size: 14px;
        font-family: Arial;
    }
    .mail{
        color:grey;
        font-size: 14px;
        font-family: Arial;
    }
    .id{
        color: rgb(0, 153, 255);
    }
    .l1{
        margin-bottom: 8px;
    }
    .l2{
        margin-top: 0px;
        width:450px
    }